            /* Large Devices (Desktops & Laptops) */
            
            @media (min-width: 1200px) {
                /* OK */
            }
            /* Medium Devices (Landscape Tablets & Medium Desktops) */
            
            @media (min-width: 992px) and (max-width: 1199px) {
                /* Mobile menu */
                .navbar {
                    background: rgba(0, 0, 0, .7);
                    padding: 0;
                }
                .vesco-nav-wrapper {
                    padding: 0;
                }
                .navbar-brand {
                    margin-left: 100px;
                }
                .landingpageimage {
                    margin-top: 150px;
                    height: 400px;
                    width: 400px;
                }
                .landingpagetext {
                    margin-top: 350px;
                    margin-left: 0px;
                    text-align: center;
                }
                .floattab {
                    float: right;
                    margin-right: 10%;
                }
                .case_card2,
                .case_card4 {
                    float: right;
                }
                .secondrow {
                    margin-top: 0px;
                }
                .article_images1 {
                    width: 480px;
                    height: 300px;
                    margin: 0px;
                }
            }
            /* Small Devices (Portrait Tablets & Small Desktops) */
            
            @media (min-width: 768px) and (max-width: 991px) {
                /* Mobile menu */
                .navbar {
                    background: rgba(0, 0, 0, .7);
                    padding: 0;
                }
                .vesco-nav-wrapper {
                    padding: 0;
                }
                .navbar-brand {
                    margin-left: 100px;
                }
                .landingpageimage {
                    margin-top: 150px;
                    height: 400px;
                    width: 400px;
                }
                .landingpagetext {
                    margin-top: 0px;
                    margin-left: 0px;
                    text-align: center;
                }
                .floattab {
                    float: right;
                    margin-right: 10%;
                }
                .case_card2,
                .case_card4 {
                    float: none;
                    margin-top: 30px;
                }
                .case_card1,
                .case_card2,
                .case_card3,
                .case_card4 {
                    text-align: center;
                }
                .secondrow {
                    margin-top: 0px;
                }
                .trnd {
                    font-size: 40px;
                    font-weight: 800;
                }
                .img_covid1,
                .img_covid2,
                .img_covid3 {
                    height: 500px;
                    width: 100%;
                    margin-top: 10px;
                }
                .trendtext1,
                .trendtext3 {
                    padding-left: 10px;
                    position: absolute;
                    bottom: 8px;
                    left: 16px;
                    color: white;
                }
                .trendtext2 {
                    padding-left: 10px;
                    position: absolute;
                    bottom: 25px;
                    left: 16px;
                    color: white;
                }
                .img_covid31,
                .img_covid32,
                .img_covid33 {
                    height: 500px;
                    width: 100%;
                    margin-top: 10px;
                }
                .img_covid21,
                .img_covid22 {
                    height: 500px;
                    width: 100%;
                    margin-top: 10px;
                }
                .vid_section31,
                .vid_section2,
                .vid_section32,
                .vid_section41,
                .vid_section42 {
                    height: 500px;
                    width: 100%;
                    margin-top: 10px;
                }
                .exam_div2,
                .exam_div1 {
                    margin-top: 50px;
                    float: none;
                }
                .article_images1,
                .article_images2,
                .article_images21 {
                    width: 100%;
                    height: 300px;
                    margin: 0px;
                }
            }
            /* Extra Small Devices (Landscape Phones & Portrait Tablets) */
            
            @media (max-width: 767px) {
                /* Mobile menu */
                .navbar {
                    background: rgba(0, 0, 0, .7);
                    padding: 0;
                }
                .vesco-nav-wrapper {
                    padding: 0;
                }
                /* Buttons */
                .btn-general {
                    padding: 6px 22px 6px 22px;
                    font-size: 14px;
                }
                .navbar-brand {
                    margin-left: 100px;
                }
                .landingpageimage {
                    width: 250px;
                    margin-top: 100px;
                }
                .landingpageimage {
                    margin-top: 150px;
                    height: 400px;
                    width: 400px;
                }
                .landingpagetext {
                    margin-top: 0px;
                    margin-left: 0px;
                    text-align: center;
                }
                .floattab {
                    float: right;
                    margin-right: 10%;
                }
                .case_card2,
                .case_card4 {
                    float: none;
                    margin-top: 30px;
                }
                .case_card1,
                .case_card2,
                .case_card3,
                .case_card4 {
                    text-align: center;
                }
                .secondrow {
                    margin-top: 0px;
                }
                .trnd {
                    font-size: 40px;
                    font-weight: 800;
                }
                .img_covid1,
                .img_covid2,
                .img_covid3 {
                    height: auto;
                    width: 100%;
                    margin-top: 10px;
                }
                .trendtext1,
                .trendtext3 {
                    padding-left: 10px;
                    position: absolute;
                    bottom: 8px;
                    left: 16px;
                    color: white;
                }
                .trendtext2 {
                    padding-left: 10px;
                    position: absolute;
                    bottom: 25px;
                    left: 16px;
                    color: white;
                }
                .img_covid31,
                .img_covid32,
                .img_covid33 {
                    height: 500px;
                    width: 100%;
                    margin-top: 10px;
                }
                .img_covid21,
                .img_covid22 {
                    height: 500px;
                    width: 100%;
                    margin-top: 10px;
                }
                .vid_section31,
                .vid_section2,
                .vid_section32,
                .vid_section41,
                .vid_section42 {
                    height: 500px;
                    width: 100%;
                    margin-top: 10px;
                }
                .exam_div2,
                .exam_div1 {
                    margin-top: 50px;
                    float: none;
                }
                .article_images1,
                .article_images2,
                .article_images21 {
                    width: 100%;
                    height: 300px;
                    margin: 0px;
                }
            }