/*==============================
        color :#37337a,
        color: #337ab7
        color:#d9edf7
  ===============================*/


/* exam page css */

.exam_container {
    background-color: #d9edf7;
    padding-bottom: 10px;
}

.exam_question {
    border-bottom: 2px solid red;
    width: fit-content;
    padding: 10px;
}


/* end of exam page css */


/* search css */

.dropbutton {
    border: none;
    cursor: pointer;
    background-color: #d9edf7;
    color: #007bb5;
}

.dropdownmenu {
    position: relative;
    display: inline-block;
    outline: none;
}

.dropdownmenu-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.dropdownmenu-content a {
    color: black;
    padding: 12px 14px;
    text-decoration: none;
    display: block;
}

.dropdownmenu a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}


/* end of new one */


/* login and signup */

.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control {
    border-radius: 3px;
}

.signup-form {
    width: 450px;
    margin: 0 auto;
    padding: 30px 0;
    font-size: 15px;
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before,
.signup-form h2:after {
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    color: blue;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}


/* end of login and signup */


/*====================================================
                       NAVIGATION
======================================================*/

.search-btn {
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e5e3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: right;
    padding: 18px;
    color: #37337a;
    font-size: 16px;
    transition: 0.4s;
    line-height: 0px;
    width: 0px;
}


/*====================================================
                    BUTTONS  back to top
======================================================*/

.btn-blue {
    border-color: #337ab7;
    color: #337ab7;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #37337a;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 15px;
}

.btn-general {
    border-width: 2px;
    border-radius: 28px;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}


/*=============================================

                     home
================================================ */

.landingpageimage {
    height: 400px;
    width: 500px;
}

.landingpagetext {
    margin-top: 150px;
    margin-left: 0px;
    float: left;
    font-weight: bold;
}


/* ==============================================
            generic button
            
=================================================*/


/* ===========================================
            trending section
============================================= */

.trendtext1 {
    padding-left: 10px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.trendtext2 {
    padding-left: 10px;
    position: absolute;
    bottom: 27px;
    left: 16px;
    color: white;
}

.trendtext3 {
    padding-left: 10px;
    position: absolute;
    bottom: 0px;
    left: 16px;
    color: white;
}

.img_covid1,
.img_covid2,
.img_covid3 {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img_covid1 {
    height: 500px;
    width: 100%;
}

.img_covid2 {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
}

.img_covid3 {
    height: 175px;
    width: 100%;
}


/* ====================================================
            covid case world wide
=====================================================*/

.covid_case {
    font-size: 25px;
    font-weight: 1000;
    margin-bottom: 100px;
}

.case_card1,
.case_card2,
.case_card3,
.case_card4 {
    box-shadow: 0 2px 1px 1px #e5e5eb;
    background-color: rgb(red, green, blue);
    height: 100px;
    width: 400px;
    border-radius: 28px;
    text-align: center;
}

.card-title {
    font-size: 25px;
    font-weight: 700;
}

.card-text {
    font-size: 25px;
    font-weight: 700;
}

.case_card2,
.case_card4 {
    float: right;
}

.secondrow {
    margin-top: 100px;
}

.trnd {
    font-size: 20px;
    font-weight: 800;
}


/* ====================================================
         end of covid case world wide
=====================================================*/


/* ====================================================
      contact page
=====================================================*/

.contactul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #337ab7;
}

.contactli {
    float: left;
}

.contactli a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.follow {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}

.contactform {
    margin-bottom: 20px;
}

.contactcol {
    margin-top: 0px;
}


/* ====================================================
    end of   contact page
=====================================================*/


/* ====================================================
             social media icon
=================================================== */

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 28px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 28px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 28px;
}

.fa-youtube-play {
    background: #bb0000;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 28px;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 28px;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
    padding: 10px;
    font-size: 15px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 28px;
}

.tb_padding {
    padding: 10px;
}


/* =================================================
              health and follow link  
==================================================== */

.trendtext21 {
    padding-left: 10px;
    position: absolute;
    bottom: 30px;
    left: 16px;
    color: white;
}

.img_covid21 {
    height: 235px;
    width: 200px;
    margin-bottom: 30px;
}

.trendtext22 {
    padding-left: 10px;
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: white;
}

.img_covid22 {
    height: 235px;
    width: 200px;
}

.heathdownrow {
    margin-bottom: 25px;
}

.trendtext31 {
    padding-left: 10px;
    position: absolute;
    bottom: 10px;
    left: 16px;
    color: white;
}

.img_covid31 {
    height: 235px;
    width: 270px;
    padding-right: 15px;
}

.img_covid32 {
    height: 235px;
    width: 270px;
    padding-right: 15px;
}

.img_covid33 {
    height: 235px;
    width: 270px;
}


/* =============================================
                footer section
========================================== */

.footerdiv {
    background-color: #337ab7;
    padding-bottom: 10px;
}

.den_image {
    margin-top: 10px;
}

.footer_af,
.footer_top {
    margin-bottom: 10px;
    font-weight: 750;
}

.footerbtm {
    margin-top: 25px;
}

.whole_footer {
    margin-bottom: 0px;
    margin-top: 50px;
}


/*==========================================
        video section page
========================================*/

.vid_section2 {
    height: 200px;
    width: 100%;
    margin-bottom: 10px;
}

.vid_section31,
.vid_section32,
.vid_section41,
.vid_section42 {
    height: 135px;
    width: 100%;
    margin-bottom: 10px;
}


/*==========================================
        slide section page
========================================*/

.slidesection {
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
}

.downloadbtn {
    padding-right: 10px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: white;
    border-radius: 25px;
}

.readmore {
    padding-right: 10px;
    position: absolute;
    bottom: 15px;
    right: 110px;
    color: rgb(35, 85, 194);
}


/*==========================================
        entrance exam section page
================================================ */

.exam_div1 {
    background-color: rgb(247, 247, 247);
    box-shadow: 7px 8px 20px 2px #e5e5eb;
    padding-left: 0px;
    padding-right: 0px;
    height: 350px;
    width: 450px;
}

.exam_div2 {
    float: right;
    background-color: rgb(247, 247, 247);
    box-shadow: 7px 8px 20px 2px #e5e5eb;
    padding-left: 0px;
    padding-right: 0px;
    height: 350px;
    width: 450px;
}

.give_exam {
    background-color: #37337a;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 80px;
    padding-top: 20px;
}

.exam_above {
    font-weight: 600;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-top: 10px;
    background-color: #ECF9FF;
    border-top-right-radius: 48px;
    margin-right: 134px;
    height: 50px;
}

.exam_image2 {
    height: 112px;
    margin-top: 87px;
    margin-left: 45px;
}

.exam_image1 {
    max-width: 80%;
    margin-top: 100px;
    margin-left: 44px;
    margin-bottom: 15px;
}

.article_image1 {
    height: 350px;
    width: 400px;
}

.article_image21,
.article_image22 {
    height: 165px;
}

.article_image21 {
    margin-bottom: 20px;
}

.article_div2 {
    margin-top: 30px;
}

.article_image41 {
    height: 200px;
    width: 200px;
    margin-top: 30px;
}

.article_image42 {
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-left: 33px;
}

.article_image43 {
    height: 200px;
    width: 200px;
    margin-top: 30px;
    margin-left: 66px;
}


/*===========================================
                    login 
=============================================*/

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinges {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slow {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}

.animated.snail {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}

@-webkit-keyframes shake {
    0%,
    100% {
        -webkit-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%,
    100% {
        -moz-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%,
    100% {
        -o-transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -o-transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-dialog {
    width: 350px;
}

.login .modal-footer {
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}

.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
    /*     padding: 11px 15px; */
}

.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}

.login .division .line.l {
    left: 0;
}

.login .division .line.r {
    right: 0;
}

.login .division span {
    color: #424242;
    font-size: 17px;
}

.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

.login .social .circle .fa {
    font-size: 16px;
}

.login .social .facebook {
    background-color: #455CA8;
    color: #FFFFFF;
}

.login .social .google {
    background-color: #F74933;
}

.login .social .github {
    background-color: #403A3A;
}

.login .facebook:hover {
    background-color: #6E83CD;
}

.login .google:hover {
    background-color: #FF7566;
}

.login .github:hover {
    background-color: #4D4D4d;
    ;
}

.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.login .btn-login,
.registerBox .btn-register {
    background-color: #337ab7;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    width: 100%;
}

.login .btn-login:hover,
.registerBox .btn-register:hover {
    background-color: #37337a;
    color: #FFFFFF;
}

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

.login .form-control:hover {
    background-color: rgba(0, 0, 0, .16);
}

.login .form-control:focus {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0, 0, 0, 0.23);
    color: #FFFFFF;
}

.login .box .form input[type="text"],
.login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}

@media (max-width:400px) {
    .login .modal-dialog {
        width: 100%;
    }
}

.btn-default {
    border-radius: 28px;
}


/*==============================================
                article page
==============================================*/

.container_main_div {
    margin-right: 0px;
    margin-left: 153px;
    padding-left: 15px;
    padding-right: 0px;
}

.article_images1 {
    width: 480px;
    height: 300px;
    background-image: linear-gradient(to bottom, rgba(206, 164, 164, 0.15) 50%, #080808 100%), url(/img/den1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.articles_text21 {
    padding-left: 10px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.article_images2 {
    width: 235px;
    height: 150px;
    background-image: linear-gradient(to bottom, rgba(206, 164, 164, 0.15) 50%, #080808 100%), url(/img/den1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-right: 10px;
    margin-top: 10px;
}

.article_images21 {
    width: 235px;
    height: 150px;
    background-image: linear-gradient(to bottom, rgba(206, 164, 164, 0.15) 100%, #080808 100%), url(/img/den1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-top: 10px;
    margin-left: 62px;
}

.articles_text22 {
    padding-left: 10px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
}

.articles_text23 {
    padding-left: 10px;
    position: absolute;
    bottom: 8px;
    left: 80px;
    color: white;
}

.articles_title {
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: -45px;
    margin-left: 0px;
}

.articles_title1 {
    color: white;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-right: -70px;
    margin-left: 0px;
}


/*============================================
            trending slides
=============================================== */

.trending_anchor {
    font-size: 18px;
    color: black;
    font-weight: 700px;
}

.trending,
.activepage_home {
    background-color: none;
    color: #37337a;
    text-align: center;
    margin-top: 2px;
    font-size: 15px;
    font-weight: 700;
}

.main_trending {
    padding-left: 0;
    padding-right: 0;
}